In [22]:
import pandas as pd
import os

In [23]:
ratings = pd.read_csv(os.getcwd() + "/ratings.csv", encoding='utf8')
movies = pd.read_csv(os.getcwd() + '/movies.csv', encoding='utf8')

In [24]:
rating_count = ratings.groupby('movieId').count()
rating_index = rating_count[rating_count>4].dropna().index.tolist()
rating_index

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 34,
 36,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 50,
 52,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 79,
 81,
 82,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 97,
 100,
 101,
 102,
 104,
 105,
 107,
 110,
 111,
 112,
 116,
 122,
 125,
 126,
 132,
 135,
 140,
 141,
 144,
 145,
 147,
 150,
 151,
 153,
 154,
 155,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 180,
 181,
 185,
 186,
 188,
 190,
 191,
 193,
 194,
 195,
 196,
 198,
 203,
 204,
 205,
 207,
 208,
 213,
 215,
 216,
 217,
 218,
 222,
 223,
 224,
 225,
 227,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 239,
 242,
 246,
 247,
 248,
 249,
 250,
 252,
 253,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 265,
 266,
 267,
 270,
 272,
 273,
 274,
 275,
 276,
 277,
 280,
 281,
 282,
 288,
 289,
 290,
 292,
 293,
 296,
 300,
 302,
 303,
 305,
 306,
 307,
 308,
 312,
 314,
 315,
 316,
 317,
 318,
 319,
 322,
 325,
 327,
 328,
 329,
 330,
 332,
 333,
 334,
 337,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 357,
 358,
 360,
 361,
 362,
 364,
 366,
 367,
 368,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 390,
 393,
 405,
 407,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 419,
 420,
 421,
 422,
 423,
 426,
 427,
 428,
 429,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 448,
 450,
 453,
 454,
 455,
 457,
 458,
 459,
 464,
 466,
 468,
 469,
 471,
 472,
 473,
 474,
 475,
 477,
 480,
 481,
 482,
 485,
 489,
 490,
 491,
 492,
 493,
 494,
 497,
 500,
 501,
 502,
 505,
 507,
 508,
 509,
 514,
 515,
 516,
 517,
 519,
 520,
 522,
 524,
 527,
 529,
 531,
 532,
 533,
 534,
 535,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 546,
 548,
 550,
 551,
 552,
 553,
 555,
 556,
 558,
 562,
 569,
 575,
 580,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 605,
 608,
 609,
 610,
 611,
 612,
 613,
 616,
 619,
 627,
 628,
 631,
 637,
 640,
 647,
 648,
 653,
 656,
 661,
 662,
 663,
 667,
 671,
 673,
 674,
 678,
 688,
 694,
 697,
 700,
 704,
 707,
 708,
 709,
 710,
 711,
 714,
 719,
 720,
 724,
 725,
 728,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 748,
 750,
 761,
 762,
 765,
 778,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 798,
 799,
 800,
 801,
 802,
 804,
 805,
 809,
 810,
 813,
 818,
 828,
 829,
 830,
 832,
 833,
 836,
 837,
 838,
 839,
 842,
 848,
 849,
 851,
 852,
 858,
 861,
 866,
 880,
 881,
 886,
 891,
 892,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 926,
 928,
 930,
 931,
 932,
 933,
 934,
 936,
 938,
 940,
 942,
 943,
 945,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 965,
 968,
 969,
 971,
 973,
 986,
 990,
 991,
 994,
 996,
 999,
 1004,
 1005,
 1006,
 1007,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1041,
 1042,
 1043,
 1047,
 1049,
 1050,
 1056,
 1057,
 1059,
 1060,
 1061,
 1064,
 1073,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1100,
 1101,
 1103,
 1104,
 1120,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1135,
 1136,
 1147,
 1148,
 1171,
 1172,
 1173,
 1175,
 1177,
 1178,
 1179,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1306,
 1307,
 1320,
 1321,
 1327,
 1333,
 1334,
 1339,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1350,
 1354,
 1356,
 1357,
 1358,
 1359,
 1361,
 1363,
 1365,
 1366,
 1367,
 1370,
 1371,
 1372,
 1373,
 1374,
 1375,
 1376,
 1377,
 1378,
 1379,
 1380,
 1381,
 1385,
 1387,
 1388,
 1389,
 1390,
 1391,
 1393,
 1394,
 1395,
 1396,
 1399,
 1405,
 1407,
 1408,
 1409,
 1411,
 1414,
 1416,
 1425,
 1429,
 1431,
 1432,
 1438,
 1441,
 1442,
 1445,
 1446,
 1449,
 1454,
 1457,
 1459,
 1461,
 1464,
 1466,
 1468,
 1474,
 1476,
 1479,
 1480,
 1483,
 1485,
 1487,
 1488,
 1498,
 1499,
 1500,
 1513,
 1515,
 1517,
 1518,
 1527,
 1537,
 1541,
 1542,
 1544,
 1552,
 1554,
 1556,
 1562,
 1566,
 1569,
 1573,
 1580,
 1582,
 1584,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1593,
 1594,
 1597,
 1603,
 1608,
 1610,
 1611,
 1614,
 1615,
 1616,
 1617,
 1619,
 1620,
 1625,
 1627,
 1633,
 1635,
 1639,
 1641,
 1643,
 1644,
 1645,
 1646,
 1653,
 1658,
 1663,
 1665,
 1667,
 1672,
 1673,
 1674,
 1676,
 1678,
 1680,
 1681,
 1682,
 1683,
 1687,
 1688,
 1689,
 1690,
 1693,
 1694,
 1701,
 1702,
 1703,
 1704,
 1707,
 1711,
 1713,
 1717,
 1719,
 1721,
 1722,
 1726,
 1729,
 1732,
 1734,
 1735,
 1747,
 1748,
 1753,
 1754,
 1755,
 1760,
 1762,
 1769,
 1772,
 1777,
 1779,
 1783,
 1784,
 1785,
 1792,
 1797,
 1799,
 1801,
 1805,
 1806,
 1809,
 1810,
 1821,
 1831,
 1833,
 1834,
 1835,
 1840,
 1845,
 1848,
 1855,
 1858,
 1862,
 1863,
 1866,
 1873,
 1875,
 1876,
 1882,
 1883,
 1884,
 1885,
 1889,
 1892,
 1894,
 1895,
 1907,
 1909,
 1911,
 1912,
 1914,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1923,
 1924,
 1927,
 1931,
 1939,
 1944,
 1945,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1982,
 1983,
 1991,
 1993,
 1994,
 ...]

In [4]:
rating_df = pd.DataFrame()
rating_df['avg_rating'] = ratings.groupby('movieId').rating.mean()

In [5]:
rating_df = rating_df[rating_df.index.isin(rating_index)]

In [6]:
movies_ratings = movies.merge(rating_df,left_on='movieId',right_index=True,how='left').dropna()

In [7]:
movies_ratings

,movieId,title,genres,avg_rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429
...,...,...,...,...
9647,180031,The Shape of Water (2017),Adventure|Drama|Fantasy,3.687500
9656,180985,The Greatest Showman (2017),Drama,3.000000
9683,183897,Isle of Dogs (2018),Animation|Comedy,3.500000
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi,3.875000
9710,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,3.900000

In [8]:
movies_ratings['genres'] = movies_ratings['genres'].str.split('|')
movies_ratings = movies_ratings.explode('genres')

In [9]:
movies_ratings

      movieId                           title     genres  avg_rating
0           1                Toy Story (1995)  Adventure     3.92093
0           1                Toy Story (1995)  Animation     3.92093
0           1                Toy Story (1995)   Children     3.92093
0           1                Toy Story (1995)     Comedy     3.92093
0           1                Toy Story (1995)    Fantasy     3.92093
...       ...                             ...        ...         ...
9709   187593               Deadpool 2 (2018)     Sci-Fi     3.87500
9710   187595  Solo: A Star Wars Story (2018)     Action     3.90000
9710   187595  Solo: A Star Wars Story (2018)  Adventure     3.90000
9710   187595  Solo: A Star Wars Story (2018)   Children     3.90000
9710   187595  Solo: A Star Wars Story (2018)     Sci-Fi     3.90000

[9289 rows x 4 columns]

In [10]:
final_df = movies_ratings.sort_values(by = ['genres','avg_rating','title'],ascending = (True,False,True)).groupby('genres').head(5)

In [19]:
final_df = final_df.round({'avg_rating':2})

In [21]:
final_df.to_csv(os.getcwd()+'/top5.csv',index=False)