In [1]:
import pandas as pd
import os

In [2]:
movies = pd.read_csv(os.getcwd() + '/movies.csv', encoding='utf8')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
movies.shape

(9742, 3)

In [4]:
m = movies['movieId'].unique().tolist()
len(m)

9742

In [5]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [6]:
drama = movies['genres'].str.contains('Drama')
movies[drama]

,movieId,title,genres
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
10,11,"American President, The (1995)",Comedy|Drama|Romance
13,14,Nixon (1995),Drama
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
...,...,...,...
9727,190213,John From (2015),Drama
9728,190215,Liquid Truth (2017),Drama
9733,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,193571,Silver Spoon (2014),Comedy|Drama
9739,193585,Flint (2017),Drama

In [7]:
len(movies[drama])

4361

In [8]:
movies[drama].to_csv(os.getcwd()+'/output/drama_movies.csv',index=False)