In [1]:
import pandas as pd
import os

In [2]:
movies = pd.read_csv(os.getcwd() + '/movies.csv', encoding='utf8')

In [3]:
tags = pd.read_csv(os.getcwd() + "/tags.csv", encoding='utf8')
tags = tags.drop(columns='timestamp')

In [4]:
tags.shape

(3683, 3)

In [5]:
t = tags['movieId'].unique().tolist()
len(t)

1572

In [6]:
movie_tag = movies.merge(tags,on = 'movieId',how='left')

In [7]:
movies_not_tagged = movie_tag[movie_tag.isnull().any(axis=1)]

In [8]:
movies_not_tagged

,movieId,title,genres,userId,tag
9,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN
12,6,Heat (1995),Action|Crime|Thriller,NaN,NaN
14,8,Tom and Huck (1995),Adventure|Children,NaN,NaN
15,9,Sudden Death (1995),Action,NaN,NaN
16,10,GoldenEye (1995),Action|Adventure|Thriller,NaN,NaN
...,...,...,...,...,...
11848,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,NaN,NaN
11849,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,NaN,NaN
11850,193585,Flint (2017),Drama,NaN,NaN
11851,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,NaN,NaN
11852,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,NaN,NaN

In [9]:
len(movies_not_tagged)

8170

In [10]:
movies_not_tagged.to_csv(os.getcwd()+'/output/movies_not_tagged.csv',index=True)